.detailcard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 150px;
	min-height: 100vh;
}

.detail-frame {
	position: relative;
	margin: 0 auto;
}

.detail-frame:before {
	content:url("../assets/bg-rock-card-web.png");
	position: absolute;
	left: -70px;
	top: 25px;
	border-radius: 50%;
	width: 450px;
	height: 435px;
	overflow: hidden;
	filter: grayscale(10%) sepia(100%) brightness(50%) ;
}

.card-info {
	color: #32170B;
}

.card-info h1{
	font-family: 'Berkshire Swash', cursive;
	font-size: 65px;
	margin-bottom: 5px;
}

.card-info	p{
	font-size: 23px;
	margin-bottom: 0px;
	color: #534A3A;
}

.card-info b{
	font-weight: 900;
	-webkit-text-stroke: 0.1px #32170B;
	color: #32170B;
}

.border-info {
	margin-bottom: 20px;
}

.border-info img{
	width: 57px;
}

.border-info:after {
    display: inline-block;
    margin: 0 0 0 15px;
    height: 2.5px;
    content: " ";
    text-shadow: none;
    background-color: #B4B4B4;
    width: 160px;
}
.border-info:before {
    display: inline-block;
    margin: 0 15px 0 0;
    height: 2.5px;
    content: " ";
    text-shadow: none;
    background-color: #B4B4B4;
    width: 160px;
}

@media screen and (max-width: 1070px){
	.detail-frame:before {
		left: -50px;
		top: 30px;
		width: 350px;
		height: 350px;
	}

	.card-info h1{
		font-size: 44px;
		margin-bottom: 5px;
	}

	.card-info	p{
		font-size: 19px;
		color: #534A3A;
		text-align: center;
	}

	.card-info b{
		-webkit-text-stroke: 0.3px #32170B;
		color: #32170B;
	}

	.border-info img{
		width: 31px;
	}

	.border-info:after {
	    display: inline-block;
	    margin: 0 0 0 10px;
	    height: 2px;
	    content: " ";
	    text-shadow: none;
	    background-color: #B4B4B4;
	    width: 110px;
	}
	.border-info:before {
	    display: inline-block;
	    margin: 0 10px 0 0;
	    height: 2px;
	    content: " ";
	    text-shadow: none;
	    background-color: #B4B4B4;
	    width: 110px;
	}
}
@media screen and (max-width: 700px){
	.detailcard {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		/*justify-content: center;*/
		padding-top: 15px;
		margin-bottom: 100px;
	}

	.card-info p{
		text-align: left;
	}
}

@media screen and (max-width: 500px){

	.detail-frame {
		position: relative;
		margin: 0 auto;
	}

	.detail-frame:before {
		content:url("../assets/bg-rock-card-mobile.png");
		left: -40px;
		top: 15px;
		width: 230px;
		height: 230px;
	}

	.card-info h1{
		font-size: 39px;
	}

	.card-info	p{
		font-size: 14px;
	}

	.border-info:after {
	    height: 1px;
	}
	.border-info:before {
	    height: 1px;
	}
}