.card-wrapper {
	display: grid;
	grid-template-areas: "card";
	justify-content: center;
}

.front-card {
	position: relative;
	left: -50px;
	transform: rotate(-10deg);
	z-index: 5;
  filter: drop-shadow(20px 5px 5px rgba(0, 0, 0,0.3));
  grid-area: card;
}

.back-card {
	position: relative;
	grid-area: card;
	left: 97px;
	top: 60px;
	transform: rotate(10deg);
	z-index: 3;
}

.shadow-card{
	position: relative;
	grid-area: card;
	left: 152px;
	top: 88px;
	width: 200px;
	height: 330px;
	border-radius: 10px;
	transform: rotate(15deg);
	background-image: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.5));
	filter: blur(3px);
	z-index: 1;
}

.front-mini {
	width: 230px;
}

.back-mini {
	width: 175px;
	top: 50px;
	left: 70px;
}

.shadow-mini {
	width: 130px;
	height: 240px;
	top: 74px;
	left: 125px;
}

@media screen and (max-width: 1070px){
	.front-card {
		left: -50px;
	  width: 250px;
	  filter: drop-shadow(10px 2px 3px rgba(0, 0, 0,0.3));
	}

	.back-card {
		width: 180px;
		left: 80px;
		top: 70px;
	}

	.shadow-card{
		left: 90px;
		top: 90px;
		width: 180px;
		height: 245px;
	}

  .front-mini {
		width: 150px;
		left: -25px;
		filter: drop-shadow(5px 5px 1px rgba(0, 0, 0,0.3));
	}
	
	.back-mini {
		width: 115px;
		top: 30px;
		left: 50px;
	}

	.shadow-mini {
		width: 110px;
		height: 150px;
		top: 52px;
		left: 63px;
	}
}

@media screen and (max-width: 500px){
	.front-card {
		left: -30px;
	  width: 160px;
	  filter: drop-shadow(10px 2px 3px rgba(0, 0, 0,0.3));
	}

	.back-card {
		width: 115px;
		height: 185px;
		left: 52px;
		top: 35px;
	}

	.shadow-card{
		left: 60px;
		top: 54px;
		width: 115px;
		height: 165px;
		filter: blur(2px);
	}

  .front-mini {
		width: 100px;
		left: -20px;
		filter: drop-shadow(3px 2px 1px rgba(0, 0, 0,0.3));
	}
	
	.back-mini {
		width: 85px;
		height: 115px; 
		top: 23px;
		left: 25px;
	}

	.shadow-mini {
		width: 80px;
		height: 100px;
		top: 38px;
		left: 35px;
	}
}