.cardlist-container {
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
}

.title-card h1 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 62px;
	margin-bottom: 10px;
	color: #32170B;
}

.title-card hr {
	height: 1px;
	color: #B7B6B5;
	background-color: #B7B6B5;
}

.card-item {
	display: grid;
	grid-template-rows: 4fr 1fr;
	justify-content: center;
	align-items: center;
}

.card-item:hover {
	 filter: drop-shadow(0px 0px 8px black);
	 cursor: pointer;
	 transform: scale(1.02);
}

.card-name {
	font-size: 23px;
}

.card-name img{
	display: inline-block;
	width: 35px;
	height: 37px;
	margin-right: 5px;
}

.card-name p{
	display: inline-block;
}

.more-wrapper {
	position: relative;
	margin: -500px auto 0;
	height: 500px;
	max-width: 100%;
	background: linear-gradient(transparent, rgb(241, 212, 168) 70.71%);
	z-index: 50;
	display: grid;
	align-content: end;
	justify-content: center;
}

.more-wrapper:before {
	content: "More Cards";
	position: absolute;
	font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
	color: white;
	left: 41%;
	bottom: 20px; 
	z-index: 1;
	overflow: hidden;
	pointer-events:none;
}

.more-wrapper img{
	width: 272px;
}

.more-wrapper img:hover{
	filter: drop-shadow(0px 0px 10px white);
 	cursor: pointer;
 	transform: scale(1.02);
}

.cardlist-footer h1{
	font-family: 'Berkshire Swash', cursive;
}

.cardlist-footer p{
	max-width: 773px;
	font-size: 27px;
	text-align: center;
	margin: 0 auto;
	line-height: normal;
}

@media screen and (max-width: 1070px){
	.more-wrapper:before {
		left: 36%;
		bottom: 20px; 
	}

	.card-name {
		font-size: 20px;
	}
}

@media screen and (max-width: 700px){
	.cardlist-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.more-wrapper:before {
		left: 30%;
		bottom: 20px; 
	}
}

@media screen and (max-width: 500px){
	.cardlist-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.title-card h1 {
		font-size: 30px;
	}

	.title-card hr {
		height: 0.1px;
	}
	
	.card-item {
		grid-template-rows: auto auto;
		align-items: start;
	}

	.card-name {
		font-size: 12px;
		margin-top: 5px;
	}

	.card-name img{
		width: 21px;
		height: 22px;
		margin-right: 5px;
	}

	.more-wrapper {
		margin: -200px auto 0;
		height: 200px;
		max-width: 95%;
		background: linear-gradient(rgba(241, 212, 168,0.1), rgb(241, 212, 168) 60%);
	}

	.more-wrapper:before {
		font-size: 17px;
		color: white;
		left: 35%;
		bottom: 10px; 
	}

	.more-wrapper img{
		width: 126px;
	}

	.cardlist-footer h1{
		font-size: 22px;
		margin-bottom: 5px;
	}

	.cardlist-footer p{
		max-width: 250px;
		font-size: 13px;
	}
}