.footer {
	width: 100%;
	height: 420px;
	overflow-y: hidden; 
	position: relative;
}

.footer:before {
	content: "";
	position: absolute;
	left: 0px;
	top :110px;
	height: 100%;
	width: 100%;
	background-image: url("../assets/bg-footer-web.jpg");
}

.icon-footer {
	width: 461px;
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: -140px;
  filter: drop-shadow(40px 20px 5px rgba(0, 0, 0,0.2));
}

.footer-socialmedia {
	color: #FCEBC9;
	position: absolute;
	top: 110px;
	height: 310px;
	right: 15px;
	display: grid;
	grid-template-columns: auto auto;
	font-size: 31px;
	align-items: center;
	justify-content: space-between;
	grid-column-gap: 15px;
}

.footer-socialmedia p {
	margin-bottom: 0;
}

.footer-link{
	display: grid;
	grid-template-columns: repeat(6, 58px);
	grid-gap: 10px;
	grid-auto-rows: 58px;
}

.social-wrapper {
	display: inline-block;
	margin: 50px;
	width: 58px;
  height: 58px;
  padding:2px;
  border-radius: 50%;
  background: #FCF1CD;
  border: 2px solid #FCF1CD;
  background-clip: content-box;
  margin:0 auto;
}

.social-wrapper:hover {
	filter: drop-shadow(0px 0px 8px #fff);
	cursor: pointer;
 	transform: scale(1.02);
}

@media screen and (max-width: 1070px){
	.icon-footer {
		width: 400px;
	}

	.footer-socialmedia {
		right: 50px;
		display: grid;
		grid-template-rows: 2fr 5fr;
		grid-template-columns: auto;
		align-items: start;
		justify-content: center;
	}

	.footer-socialmedia p {
		margin-top: 20px;
	}

	.footer-link{
		grid-gap: 5px;
	}
}

@media screen and (max-width: 700px){
	.icon-footer {
		width: 380px;
		top: 50px;
	}
	
	.footer-socialmedia {
		right: 30px;
	}

	.footer-link{
		display: grid;
		grid-template-columns: repeat(3, 58px);
		grid-gap: 10px;
		grid-auto-rows: 70px;
		justify-content: center;
	}
}

@media screen and (max-width: 500px){
	.footer {
		height: 136px;
	}

	.footer:before {
		left: 0px;
		top : 40px;
		background-image: url("../assets/bg-footer-mobile.jpg");
	}

	.icon-footer {
		width: 120px;
		top: 10px;
		left: -30px;
	  filter: drop-shadow(10px 5px 1px rgba(0, 0, 0,0.2));
	}

	.footer-socialmedia {
		top: 45px;
		right: 80px;
		height: 90px;
		display: grid;
		grid-template-rows: 20px 90px;
		grid-template-columns: auto;
		font-size: 9px;
		align-items: start;
		justify-content: center;
		grid-row-gap: 5px;
	}

	.footer-socialmedia p {
		margin-bottom: 0;
		margin-top: 0;
	}

	.footer-link{
		display: grid;
		grid-template-columns: repeat(3, 25px);
		grid-gap: 5px;
		grid-auto-rows: 25px;
		justify-content: center;
	}

	.social-wrapper {
		margin: 0px;
		width: 25px;
	  height: 25px;
	  padding:1px;
	  border-radius: 50%;
	  background: #FCF1CD;
	  border: 2px solid #FCF1CD;
	  background-clip: content-box;
	  margin:0 auto;
	}

	.social-wrapper img {
		width: 10px;
		margin-top: 4px;
	}

	.social-wrapper .logo-spc {
		width: 5px;
		height: 10px;
	}

	.social-wrapper:hover {
		filter: drop-shadow(0px 0px 8px #fff);
		cursor: pointer;
	 	transform: scale(1.02);
	}
}