.header {
	width: 100%;
	height: 169px;
	display: grid;
	grid-template-rows: 70px 70px;
	color: #f1d9aa;
	z-index: 10;
}

.header-top {
	background-color: #32170B;
	width: 100%;
	z-index: 8;
}

.header-bottom {
	background-color: #472210;
	z-index: 5;
}

.logo-header{
	float:left;
	height: 90px;
}

.logo-header:hover{
	filter: drop-shadow(0px 0px 8px white);
 	cursor: pointer;
 	transform: scale(1.02);
}

.search {
	float: right;
	margin-top: 15px;
}

.navbar {
	font-size: 26px;
	list-style-type: none;
  margin: 0;
  padding: 0;
  height: 80px;
  z-index: 1;
  position: relative;
}

.navbar a{
  text-decoration: none;
  color: #f1d9aa;
}

.navbar li:not(:nth-child(2)):hover{
  text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	z-index: 1;
}

.navbar li::after {
	content:">";
	display: inline-block;
	transform: rotate(90deg);
	margin-left: 10px;
}

.navbar li:nth-child(2):hover .navbar-cardset {
	visibility: visible;
}

.navbar-cardset{
	visibility: hidden;
	position: absolute;
	overflow: hidden;
	background-color: #5B5B5A;
	background-image: url("../assets/bg-rock-web.png");
	background-repeat: repeat;
	text-align: right;
	font-size: 18px;
	padding: 0 15px 1px;
	z-index: 20;
}

.navbar-cardset li{
	border-top: 2px solid #3D3D3D;
	list-style-position: inside;
	margin-bottom: 5px;
	padding-top: 8px;
	color: #FF7300;
	cursor: pointer;
} 

.navbar-cardset li:after {
	content: "";
}

.navbar-cardset li span {
	color: #fff;
}

@media screen and (max-width: 1070px){
  .header {
    height: 100px;
    grid-template-rows: 50px 50px;
  }
	
	.logo-header {
		height: 60px;
	}

	.search {
		float: right;
		margin-top: 10px;
	}

	.navbar {
		vertical-align: middle;
		font-size: 16px;
	  height: 50px;
	  z-index: 1;
	}

	.navbar-cardset{
		font-size: 12px;
	}
}

@media screen and (max-width: 500px){
  .header {
    height: 53px;
    grid-template-rows: 27px 26px;
  }
	
	.logo-header {
		height: 35px;
	}

	.search {
		float: right;
		margin-top: 8px;
	}
	.navbar {
		vertical-align: middle;
		font-size: 13px;
	  height: 26px;
	  z-index: 1;
	}
	
	.navbar li:nth-child(1n+4) {
		display: none;
	}

	.navbar li::after {
		margin-left: 5px;
	}

	.navbar-cardset{
		background-image: url("../assets/bg-rock-mobile.png");
		font-size: 8px;
		padding: 0 10px 1px;
		list-style: none;
		margin-left: -40px;
	}

	.navbar-cardset li{
		border-top: 2px solid #3D3D3D;
		list-style-position: inside;
		margin-bottom: 5px;
		padding-top: 8px;
		color: #FF7300;
		cursor: pointer;
	} 

	.navbar-cardset li:nth-child(1n+4) {
		display: block;
	}
	
	.navbar-cardset li:hover {
  	visibility: visible;
  	opacity: 1;
	}

	.navbar-cardset li:active {
		visibility: visible;
  	-webkit-transition: opacity 1s ease-out;
	}
	.navbar li:nth-child(2):active .navbar-cardset {
		visibility: visible;
	}
}