.jumbotron-container {
	width: 100%;
	height: 1000px;
	overflow: visible;
	margin-top: -180px;
}

.bg-jumbotron {
	height: 854px;
	background-image: url("../assets/bg-jumbotron-web.png");
	background-repeat: repeat-x;
	background-position: center;
	filter: drop-shadow(0px 20px 15px #DF9E53);
}

.logo-jumbotron {
	position: relative;
	top: 464px;
	width: 630px;
}

.bg-jumbotron h1{
	font-size: 40px;
	font-family: 'Berkshire Swash', cursive;
	color: #fff;
	top:450px;
	z-index: 0;
	position: relative;
  background: transparent;
}

.bg-jumbotron h1:before{
	content: 'Deceptively Simple. Insanely Fun.';
  position: absolute;
  -webkit-text-stroke: 0.25em #000; 
  z-index: -1;
}

.icon-jumbotron {
	width: 121px;
	position: relative;
	top:-80px;
	transform: rotate(2deg)
}

.jumbotron-container p{
	font-size: 22px;
	margin-top: -50px;
	color: #534A3A;
}

@media screen and (max-width: 700px){
	.logo-jumbotron {
		/*top: 110px;*/
		width: 450px;
	}
}

@media screen and (max-width: 500px){
	.jumbotron-container {
		width: 100%;
		height: 370px;
		margin-top: 0px;
	}

	.bg-jumbotron {
		height: 268px;
		background-size: 100% 100%;
		background-image: url("../assets/bg-jumbotron-mobile.png");
		background-repeat: no-repeat;
	}

	.logo-jumbotron {
		top: 110px;
		width: 250px;
	}

	.bg-jumbotron h1{
		font-size: 17px;
		top:110px;
	}


	.icon-jumbotron {
		width: 70px;
		top:-45px;
	}

	.jumbotron-container p{
		max-width: 180px;
		font-size: 14px;
		text-align: center;
		margin: -40px auto;
	}
}