.search-container {
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 34px;
	background-color: white;
	font-size: 18px;
	border-radius: 10px;
	padding: 0;			
	background-color: #FF7300;

}
.search-bar {
	border-radius: 10px 0 0 10px;
	background-color: #fff;
	height: 34px;
}

.icon-search {
	width: 26px;
	margin-left: 12px;
	padding-right: 2px;
}

.search-input {
	border: none;
	width: 130px;
	height: 34px;
}

.search-option {
	color: #fff;
	height: 34px;
	align-self: center;
	cursor: pointer;
	padding-top: 2px;
}

.option{
	position: absolute;
	overflow: hidden;
	width: 200px;
	margin-left: 80px;
	background-color: #5B5B5A;
	background-image: url("../assets/bg-rock-web.png");
	background-repeat: repeat;
	text-align: right;
	font-size: 18px;
	padding: 0 15px 1px;
	z-index: 10;
}

.option ul {
	padding-right: 0;
	z-index: 100;
}

.option li{
	border-top: 2px solid #3D3D3D;
	list-style-position: inside;
	margin-bottom: 5px;
	padding-top: 8px;
	color: #FF7300;
	cursor: pointer;
} 

.option li span{
	color: #fff;
}

.option li:hover {
	opacity: 0.5;
}

.option li:first-child {
	border-top: none;
}

@media screen and (max-width: 1070px){
  .search-container {
		display: grid;
		width: 250px;
		height: 25px;
		font-size: 16px;
	}
	.search-bar {
		height: 25px;
	}

	.icon-search {
		width: 20px;
		margin-left: 8px;
		padding-right: 2px;
	}

	.search-input {
		width: 122px;
		height: 25px;
	}

	.search-option {
		height: 25px;
	}

	.option{
		width: 100px;
		margin-left: 20px;
		font-size: 13px;
		padding: 0 5px 1px;
	}
}

@media screen and (max-width: 500px){
  .search-container {
		display: grid;
		width: 122px;
		height: 15px;
		font-size: 9px;
		align-items: start;
	}
	.search-bar {
		height: 15px;
		margin: 0;
	}

	.icon-search {
		width: 11px;
		margin-left: 3px;
		padding-right: 2px;
	}

	.search-input {
		width: 59px;
		height: 15px;
	}

	.search-option {
		height: 15px;
	}

	.option{
		width: 100px;
		margin-left: 20px;
		background-image: url("../assets/bg-rock-mobile.png");
		font-size: 13px;
		padding: 0 5px 1px;
	}
}