.spinner-wrapper{
	font-family: 'Berkshire Swash', cursive;
	font-weight: bold;
}

.spinner {
	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

 @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }