.App {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: url("./assets/bg-body-web.jpg");
  background-repeat: repeat-y;
  background-size: 185%;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr auto;
}

.app-header {
  z-index: 100;
  position: relative;
}

.app-content {
  /*grid-row: 1 / span 2;*/
}


/*Utility css*/
.wrapper {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 9px;
    position: relative;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 1070px){
  .wrapper {
    max-width: 700px;
  }
}

@media screen and (max-width: 700px){
  .wrapper {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px){
  .app {
    background-image: url("./assets/bg-body-mobile.jpg");
    background-size: 300%;
  }

  .wrapper {
    max-width: 300px;
  }
}